@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.hero-heading {
  font-family: 'Arial Black', Arial, sans-serif;
}

.gradient-text {
  background: linear-gradient(135deg, #F95D2D 0%, #F95D2D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-gradient {
  background: #F95D2D;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.outlined-text {
  -webkit-text-stroke: 6px black;
  -webkit-text-fill-color: transparent;
  text-stroke: 6px black;
  text-fill-color: transparent;
}

.outlined-text-white {
  -webkit-text-stroke: 1pt white;
  -webkit-text-fill-color: transparent;
  text-stroke: 1pt white;
  text-fill-color: transparent;
}

.outlined-text-thin {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  text-stroke: 2px black;
  text-fill-color: transparent;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 16rem;
}

.outlined-text-white-thin {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  text-stroke: 1px white;
  text-fill-color: transparent;
}
